@import "tailwindcss";
/* Define background and text colors for light and dark */
:root {
  --color-bg: 255 255 255; /* white */
  --color-text: 0 0 0; /* black */
}

.dark {
  --color-bg: 17 24 39; /* gray-900 */
  --color-text: 255 255 255; /* white */
}

body {
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text));
  transition: background-color 0.3s ease, color 0.3s ease;
}
